.def {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.fm {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fafaff
}
.fm1 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.men {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: Impact, Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.l125 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.l125t {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif, Verdana, Tahoma
}
.r145 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.hlbody {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.meng {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: ArialCE, Arial, Verdana, Tahoma, HelvaticaCE, Helvetica, sans-serif
}
.nav {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.body {
	FONT-SIZE: 11px; COLOR: #002200; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.th {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5f3c2
}
.pic {
	BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; COLOR: #000000; BORDER-TOP-COLOR: #000000; BORDER-RIGHT-COLOR: #000000
}
.tym {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000055; FONT-FAMILY: ArialCE, Arial, Verdana, Tahoma, HelvaticaCE, Helvetica, sans-serif
}
.ty {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: ArialCE, Arial, Verdana, Tahoma, HelvaticaCE, Helvetica, sans-serif
}
.tyw {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; FONT-FAMILY: ArialCE, Arial, Verdana, Tahoma, HelvaticaCE, Helvetica, sans-serif
}
.a0 {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a0b {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a1 {
	FONT-SIZE: 11px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a1b {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a2 {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a2b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a3 {
	FONT-SIZE: 13px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a3b {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a4 {
	FONT-SIZE: 14px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a4b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a5 {
	FONT-SIZE: 15px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a5b {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a6 {
	FONT-SIZE: 16px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a6b {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a7 {
	FONT-SIZE: 17px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a7b {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a8 {
	FONT-SIZE: 18px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.a8b {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
UNKNOWN {
	COLOR: #000080; TEXT-DECORATION: underline
}
A:active {
	COLOR: #000080; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.u {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.u:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.u:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.fts {
	COLOR: #000099; TEXT-DECORATION: underline
}
A.fts:active {
	COLOR: #000099; TEXT-DECORATION: underline
}
A.fts:hover {
	COLOR: #990000; TEXT-DECORATION: underline
}
A.nu {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.nu:active {
	COLOR: #ccffcc; TEXT-DECORATION: none
}
A.nu:hover {
	COLOR: #ccffcc; TEXT-DECORATION: none
}
.ar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.ar {
	COLOR: #ff0000
}
A.ar:active {
	COLOR: #ff0000
}
A.ar:hover {
	COLOR: #ff0000
}
A.men {
	COLOR: #404040; TEXT-DECORATION: none
}
A.men:active {
	COLOR: #404040; TEXT-DECORATION: none
}
A.men:hover {
	COLOR: #404040; TEXT-DECORATION: none
}
A.ml0 {
	COLOR: #0000ff
}
A.ml0:active {
	COLOR: #0000ff
}
A.ml0:hover {
	COLOR: #6b8e23
}
A.ml1 {
	COLOR: #9acd32
}
A.ml1:active {
	COLOR: #9acd32
}
A.ml1:hover {
	COLOR: #ffffff
}
A.ml2 {
	COLOR: #000000
}
A.ml2:active {
	COLOR: #000000
}
A.ml2:hover {
	COLOR: #000000
}
A.ml3 {
	COLOR: #214f00
}
A.ml3:active {
	COLOR: #214f00
}
A.ml3:hover {
	COLOR: #ffffff
}
A.mg {
	COLOR: #282828; TEXT-DECORATION: none
}
A.mg:active {
	COLOR: #282828; TEXT-DECORATION: none
}
A.mg:hover {
	COLOR: #008000; TEXT-DECORATION: none
}
A.mga {
	COLOR: #282828; TEXT-DECORATION: none
}
A.mga:active {
	COLOR: #282828; TEXT-DECORATION: none
}
A.mga:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.st {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
A.st:link {
	COLOR: #000000
}
A.st:visited {
	COLOR: #000000
}
A.st:hover {
	COLOR: #ff0000
}
A.st:active {
	COLOR: #000000
}
.stb {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif
}
A.stc:link {
	COLOR: #ff0000
}
A.stc:visited {
	COLOR: #ff0000
}
A.stc:hover {
	COLOR: #ff0000
}
A.stc:active {
	COLOR: #ff0000
}
.forumsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumauthor {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forummediumsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumbigsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.menulink {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumtext {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumbigtext {
	FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumlink {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumbody {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumcounter {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
.forumdot {
	COLOR: #000000
}
.forumlight {
	BACKGROUND: #ffd76b
}
A.forumsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumsubject:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumsubject:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumbigsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumbigsubject:active {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumbigsubject:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff0000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forummediumsubject {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forummediumsubject:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forummediumsubject:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif
}
A.forumlink {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.forumlink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000055; FONT-FAMILY: Arial, Helvetica, sans-serif
}
A.forumlink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ff0000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.s_tit {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_titlnk {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_qnum {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_q {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_hbgcolor {
	BACKGROUND-COLOR: #ccddff
}
.s_htit {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_htitlnk {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_hct {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_results {
	FONT-SIZE: 8pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
.s_rlnk {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
A.s_rlnk {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_rlnk:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_rlnk:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.s_rfnd {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_rfnd:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_rfnd:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.s_titlnk {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_titlnk:active {
	COLOR: #0000ff; TEXT-DECORATION: underline
}
A.s_titlnk:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.s_radr {
	FONT-SIZE: 11px; COLOR: #505050
}
.s_rfnd {
	FONT-SIZE: 10pt; FONT-FAMILY: verdana, arial ce, helvetica ce, arial, helvetica
}
