.td1nagl {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5f3c2
}
.td1uczest {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5f3c2
}
.td1wyn {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn0 {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn1 {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn4 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn5 {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn6 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn7 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td1wyn8 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.table2bg {
	COLOR: #000000; BACKGROUND-COLOR: #214f00
}
.td2dark {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #214f00
}
.td2dark2 {
	FONT-SIZE: 9px; COLOR: #e7f3c6; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #214f00
}
.td2darklink {
	FONT-SIZE: 9px; CURSOR: hand; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #214f00
}
.td2mild {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e5f3c2
}
.td2white {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.td2pl {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f8fff8
}
.td2last {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana, Tahoma, ArialCE, HelvaticaCE, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffcccc
}
